AuthBasicAuthoritative Off
AuthUserFile /dev/null
AuthMySQLAuthoritative On

AuthName "MySQL Testing"
AuthType Basic
AuthMySQLHost localhost
AuthMySQLDB test
AuthMySQLUserTable accounts
AuthMySQLNameField username
AuthMySQLPasswordField password
AuthMySQLNoPasswd Off
AuthMySQLPwEncryption scrambled
AuthMySQLEnable On
require valid-user
